adafruit-ampy==1.0.7
altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
auto-py-to-exe==2.7.5
boltons==19.3.0
bottle==0.12.18
bottle-websocket==0.2.9
cachier==1.4.2
category-encoders==2.2.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorclass==2.2.0
common==0.1.2
crypto==1.4.1
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
Django==3.0.8
docopt==0.6.2
dpath==1.5.0
ecdsa==0.15
Eel==0.13.2
escpos==1.6
esptool==2.8
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
idna==2.10
imageio==2.9.0
importlib-metadata==1.7.0
imutils==0.5.3
iniconfig==1.0.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
micropy-cli==3.4.0
micropython-cpython-micropython==0.1.1
micropython-cpython-uselect==0.0
micropython-cpython-usocket==0.1
more-itertools==8.5.0
mysql-connector-python==8.0.21
Naked==0.1.31
netifaces==0.10.9
networkx==2.5
numpy==1.19.0
openalpr==1.1.0
opencv-python==4.3.0.36
packaging==20.4
pandas==1.1.2
pathtools==0.1.2
patsy==0.5.1
pefile==2019.4.18
Pillow==7.2.0
pip-upgrader==1.4.15
playsound==1.2.2
pluggy==0.13.1
Pmw==2.0.1
portalocker==2.0.0
printer==2.0.0
prompt-toolkit==3.0.5
protobuf==3.12.4
py==1.9.0
pyaes==1.6.1
pycparser==2.20
pydot==1.4.1
pygubu==0.10.1
pyinstall==0.1.4
PyInstaller==3.6
pymssql==2.1.4
PyMySQL==0.9.3
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
pyserial==3.4
pytesseract==0.3.6
pytest==6.0.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
pyudev==0.22.0
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
questionary==1.5.2
requests==2.24.0
requirements-parser==0.2.0
rshell==0.0.28
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
shellescape==3.8.1
six==1.15.0
sklearn2==0.0.13
sqlparse==0.3.1
statsmodels==0.12.0
terminaltables==3.1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
toml==0.10.1
tqdm==4.48.0
typed-ast==1.4.1
urllib3==1.25.9
virtualenv==20.0.27
watchdog==0.10.3
wcwidth==0.2.5
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
